<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="manifest" href="app.webmanifest">
  <meta name="theme-color" content="#DB0000" />
  <meta name="description"
    content="Mencari resto terbaik disekitarmu agar mendapatkan kenikmatan makan yang tiada tara">
  <title>Mengan Kuy</title>
  <link rel="icon" href="./favicon.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
</head>

<body>
  <a href="#content" class="skip-to__content">Skip To Content</a>
  <custom-navbar></custom-navbar>

  <main id="main-content">

  </main>
  <custom-footer></custom-footer>


</body>
<script src="https://use.fontawesome.com/b070c8f1df.js"></script>


</html>